CONFIG_STATIC=y
CONFIG_BUSYBOX=y
CONFIG_SH_IS_ASH=y
CONFIG_ASH=y
CONFIG_ASH_OPTIMIZE_FOR_SIZE=y
CONFIG_ASH_INTERNAL_GLOB=y
CONFIG_ASH_BASH_COMPAT=n
CONFIG_ASH_JOB_CONTROL=n
CONFIG_ASH_ECHO=y
CONFIG_ASH_PRINTF=y
CONFIG_ASH_TEST=y
CONFIG_ASH_CMDCMD=y
CONFIG_FEATURE_SH_MATH=n
CONFIG_FEATURE_SH_EXTRA_QUIET=n
CONFIG_FEATURE_SH_STANDALONE=n
CONFIG_FEATURE_PREFER_APPLETS=n
CONFIG_FEATURE_EDITING=n
CONFIG_FEATURE_TAB_COMPLETION=n
CONFIG_FEATURE_EDITING_HISTORY=0
CONFIG_CAT=y
CONFIG_ECHO=y
CONFIG_ENV=y
CONFIG_FALSE=y
CONFIG_LS=y
CONFIG_PWD=y
CONFIG_TEST=y
CONFIG_TRUE=y
CONFIG_PRINTENV=y
CONFIG_PRINTF=y
CONFIG_STAT=y
CONFIG_TOUCH=y
CONFIG_HTTPD=y
CONFIG_HEAD=y
CONFIG_TAIL=y
CONFIG_WC=y
CONFIG_CP=y
CONFIG_CHMOD=y
CONFIG_MV=y
CONFIG_MKDIR=y
CONFIG_RM=y
CONFIG_RMDIR=y
CONFIG_HUSH=n
CONFIG_MSH=n
